<!--@subject {{trans "Congratulations! Here's Your Exclusive First Order Discount Code"}}  @-->

{{template config_path="design/email/header_template"}}

<div class="message-details">
    <p>Dear {{var name}}</p>
    <p>Congratulations! You've received an exclusive discount code for your first order at Our Shop.</p>
    <p>Your Coupon Code: <strong>{{var couponCode}}</strong></p>
    <p>Don't miss out on this opportunity to save on your first purchase with us.</p>
    <p>Shop now and discover our amazing products!</p>
    <p>Regards,</p>
</div>
{{template config_path="design/email/footer_template"}}